<div class="container">
  <h1>Recipe of <%= @recipe.title %></h1>
  <p><%= @recipe.description %></p>
  <div>
     <button type="button" class="btn btn-outline-secondary"><%= link_to 'Edit this recipe', edit_recipe_path(@recipe) %></button>
     <button type="button" class="btn btn-outline-secondary"><%= link_to 'Delete this recipe', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?'} %></button>
  </div>
  <div>
    <p><%= link_to 'Back', recipes_path %></p>
  </div>
</div>