<%= form_for [@recipe, @ingredient] do |f| %>
  <div class="field">
    <%= f.label :recipe_id %>
    <%= f.select :recipe_id, Recipe.order(:title).pluck(:title, :id), include_blank: true%>
  </div>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :qty %>
    <%= f.text_field :qty %>
  </div>

  <div class="field">
    <%= f.label :uom %>
     <%= f.select :uom, [["cup", "cup"], ["tea spoon", "tea spoon"], ["table spoon", "table spoon"]] %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-outline-secondary submit-btn"%>
  </div>
<% end %>